rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Autoriser l'accès à toutes les collections et documents sans condition
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
