

.forgot-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.image-forgot{
  float: left; /* Aligner l'élément à gauche */
  margin-left: 150px; /* Centre l'élément horizontalement */
  max-width: 200px;
  padding-right: 20%;
}

.image-connexion {
  float: left; /* Aligner l'élément à gauche */
  margin-left: 150px; /* Centre l'élément horizontalement */
  max-width: 200px; /* Définit une largeur maximale pour l'image */
  display: flex;
}



.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}


.application-container{
  height: 67vh;
}
.header-container{
  text-align: center;
  background-color:#252A37 ;
}

.landing-container{
    display: flex;
    background-image: url('./images/LogoInstat.png'); /* Chemin relatif pour accéder à votre image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
    justify-content: center;
    align-items: center;
}
.landing-button-container{
  display: flex;
  justify-content: space-between; /* Pour espacer les boutons */
  width: 300px;
  margin-top: 50vh;
}
.footer-container{
  background-color: #252A37;
  height: 27vh;
}
.app-container{
  background-color: #2E3341;
}

/* HTML: <div class="loader"></div> */
.loader-container{
  position: relative; /* Assure que les éléments enfants positionnés sont positionnés par rapport à ce conteneur */
  width: 100%; /* Largeur du conteneur */
  height: 73vh; /* Hauteur du conteneur (100% de la hauteur de la vue) */
  display: flex; /* Utilisation de Flexbox pour centrer le contenu */
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
}
.fonction-container {
  background: #2E3341;
  width: 100%;
  height: 80vh;
  display: block;
}
.setting-container{
  margin-left: auto;
}
.toggle-password-icon {
  position: absolute;
  top: 59.5%;
  right: 5px; /* Ajustez la valeur pour positionner l'icône */
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}
.toggle1{
  position: absolute;
  top: 68.5%;
  right: 5px;
  z-index: 10;
}
.toggle2{
  position: absolute;
  top: 82.5%;
  right: 5px;
  z-index: 10;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.message-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin-top: auto; /* Pousse les nouveaux messages vers le bas */
}

.message-right {
  float: right; /* Aligner à droite */
  clear: both; /* Efface la flottaison pour empêcher le chevauchement */
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.message-left {
  float: left; /* Aligner à gauche */
  clear: both; /* Efface la flottaison pour empêcher le chevauchement */
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.rbc-slot-selecting {
  background-color: rgba(255, 255, 255, 0.5)
}

.loader-pub{
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
  margin: auto;
}
@keyframes l1{to{transform:rotate(.5turn)}}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
  margin: auto;
}
@keyframes l1 {to{transform: rotate(.5turn)}}

label{
  font-style: italic;
  color: white;
}

/* HTML: <div class="loader"></div> */
.profileLoader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-mask: linear-gradient(0deg, #000 55%, #0000 0) bottom/100% 18.18%;
  background: linear-gradient(#023ee2 0 0) bottom/100% 0% no-repeat #ddd;
  animation: l8 2s infinite steps(7);
  
  /* Centrer horizontalement */
  margin: 0 auto;
}

@keyframes l8 {
  100% {
    background-size: 100% 115%;
  }
}

/*.eventLoading{
  /* HTML: <div class="loader"></div> 
  width: 120px;
  height: 20px;
  background: 
    linear-gradient(#000 50%,#0000 0),
    linear-gradient(#0000 50%,#000 0),
    linear-gradient(#000 50%,#0000 0),
    linear-gradient(#0000 50%,#000 0),
    linear-gradient(#000 50%,#0000 0),
    linear-gradient(#0000 50%,#000 0)
    #ddd;
  background-size: calc(100%/6 + 1px) 200%;
  background-repeat: no-repeat;
  animation: l12 2s infinite;
}
@keyframes l12 {
  0%     {background-position: calc(0*100%/5) 100%,calc(1*100%/5)   0%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  16.67% {background-position: calc(0*100%/5)   0%,calc(1*100%/5)   0%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  33.33% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  50%    {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  66.67% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  83.33% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5)   0%,calc(5*100%/5)   0%}
  100%   {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5)   0%,calc(5*100%/5) 100%}
}*/



/*.container{
  background-image: url('./images/LogoInstat.png'); /* Chemin relatif pour accéder à votre image 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
}*/