
.image-inscription{
  float: left; /* Aligner l'élément à gauche */
  margin-right: auto;
  margin-top: auto;
  margin-left: auto;
}

.image-connexion{
  float: left; /* Aligner l'élément à gauche */
  margin-right: auto;
  margin-top: auto;
  margin-left: auto;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logout-container{
  background-color: #D1D1D1; /* Couleur de fond de la barre de navigation */
  padding: 10px; /* Espacement intérieur de la barre de navigation */
  display: flex; /* Utilisation de Flexbox pour positionner les éléments */
  justify-content: space-between; /* Aligner les éléments avec un espacement entre eux */
  align-items: center;
}
.header-container{
  text-align: center;
  background-color:#252A37 ;
}

.landing-container{
    display: flex;
    background-image: url('./images/LogoInstat.png'); /* Chemin relatif pour accéder à votre image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
    justify-content: center;
    align-items: center;
}
.landing-button-container{
  display: flex;
  justify-content: space-between; /* Pour espacer les boutons */
  width: 300px;
  margin-top: 50vh;
}
.footer-container{
  background-color: #2E3341;
  height: 25vh;
}