
.image-inscription{
  float: left; /* Aligner l'élément à gauche */
  margin-right: auto;
  margin-top: auto;
  margin-left: auto;
}
.forgot-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.image-forgot{
  float: left; /* Aligner l'élément à gauche */
  margin-left: 150px; /* Centre l'élément horizontalement */
  max-width: 200px;
}

.image-connexion {
  float: left; /* Aligner l'élément à gauche */
  margin-left: 150px; /* Centre l'élément horizontalement */
  max-width: 200px; /* Définit une largeur maximale pour l'image */
}
.image-inscription{
  float: left; /* Aligner l'élément à gauche */
  margin-left: 150px; /* Centre l'élément horizontalement */
  max-width: 200px; /* Définit une largeur maximale pour l'image */
}


.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.logout-container{
  background-color: #D1D1D1; /* Couleur de fond de la barre de navigation */
  padding: 10px; /* Espacement intérieur de la barre de navigation */
  display: flex; /* Utilisation de Flexbox pour positionner les éléments */
  justify-content: space-between; /* Aligner les éléments avec un espacement entre eux */
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  align-content: end;
  width: 60px;
  height: 34px;
  margin-left: auto;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: red;
}



input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.application-container{
  height: 67vh;
}
.header-container{
  text-align: center;
  background-color:#252A37 ;
}

.landing-container{
    display: flex;
    background-image: url('./images/LogoInstat.png'); /* Chemin relatif pour accéder à votre image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
    justify-content: center;
    align-items: center;
}
.landing-button-container{
  display: flex;
  justify-content: space-between; /* Pour espacer les boutons */
  width: 300px;
  margin-top: 50vh;
}
.footer-container{
  background-color: #2E3341;
  height: 27vh;
}

.signup-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

/* HTML: <div class="loader"></div> */
.loader-container{
  position: relative; /* Assure que les éléments enfants positionnés sont positionnés par rapport à ce conteneur */
  width: 100%; /* Largeur du conteneur */
  height: 73vh; /* Hauteur du conteneur (100% de la hauteur de la vue) */
  display: flex; /* Utilisation de Flexbox pour centrer le contenu */
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
  margin: auto;
}
@keyframes l1 {to{transform: rotate(.5turn)}}